.appriseOverlay
	{
	position:fixed;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.3);
	display:none;
	z-index: 99999;
	}
.appriseOuter
	{
	background:#EEE;
	background-image: linear-gradient(to bottom, #eeeeee 0%, #f2f2f2 100%);
    background-repeat: repeat-x;
	border:1px solid #fff;
	box-shadow:0px 3px 7px #333;
	-moz-box-shadow:0px 3px 7px #333;
	-webkit-box-shadow:0px 3px 7px #333;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	position:absolute;
	z-index:99999999;
	width:400px;
	min-height:50px;
	max-width:75%;
	position:fixed;
	display:none;
	font-size:16px;
	}
.appriseInner
	{
	padding:20px;
	color:#333;
	text-shadow:0px 1px 0px #fff;
	}
.appriseOuter .apprise-error
	{
	background:#FCE3E3;
	background-image: linear-gradient(to bottom, #FCE3E3 0%, #F8C0C0 100%);
    background-repeat: repeat-x;
    border-color: #F59E9E;
	box-shadow:0px 3px 7px #fff;
	color: #C05353;
	}
.appriseOuter .apprise-warning
	{
	background:#FCF8E3;
	background-image: linear-gradient(to bottom, #FCF8E3 0%, #F8EFC0 100%);
    background-repeat: repeat-x;
    border-color: #F5E79E;
	box-shadow:0px 3px 7px #fff;
	color: #C09853;
	}
	
.appriseOuter .apprise-success
	{
	background:#DFF0D8;
	background-image: linear-gradient(to bottom, #DFF0D8 0%, #C8E5BC 100%);
    background-repeat: repeat-x;
	border:1px solid #B2DBA1;
	box-shadow:0px 3px 7px #fff;
	color: #468847;
	}
	
.appriseInner button
	{
	border:1px solid #bbb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
	background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
  	background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
	color:#232d3d;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	margin:0 3px;
	text-shadow:0px 1px 0px #fff;
	cursor:pointer;
	box-shadow:0px 1px 2px #ccc;
	-moz-box-shadow:0px 1px 2px #ccc;
	-webkit-box-shadow:0px 1px 2px #ccc;
	}
.appriseInner button:hover
	{
	color:#d85054;
	}
.aButtons, .aInput
	{
	margin:20px 10px 0px 10px;
	text-align:center;
	}
.aTextbox
	{
	border:1px solid #aaa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	box-shadow:0px 1px 0px #fff;
	-moz-box-shadow:0px 1px 0px #fff;
	-webkit-box-shadow:0px 1px 0px #fff;
	width:180px;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
	}
.appriseTitle{
	display:block;
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:5px;
}


/**************************** busy indicator styles ************************/
.busyOverlay
	{
	position:fixed;
	top:0;
	left:0;
	background:rgba(255, 255, 255, 0.5);
	display:none;
	z-index: 99999;
	}
.busyOuter
	{
	background:#EEE;
	background-image: linear-gradient(to bottom, #eeeeee 0%, #f2f2f2 100%);
    background-repeat: repeat-x;
	border:1px solid #fff;
	box-shadow:0px 3px 7px #333;
	-moz-box-shadow:0px 3px 7px #333;
	-webkit-box-shadow:0px 3px 7px #333;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-khtml-border-radius:10px;
	position:absolute;
	z-index:999999999;
	width:100px;
	height:100px;
	position:fixed;
	display:none;
	font-size:16px;
	}
	
.busyOuter img{
	border:none;
	position:relative;
	top:14px;
	left:32px;
	z-index:9999999999;
}

.busyOuter .b-header{
	position:relative;
	top:2px;
	left:2px;
	font-size: 11px;
	color:#333;
	height:20px;
	width:95px;
	text-align:center;
	z-index:999999999;
}

.busyOuter .b-footer{
	position:relative;
	top:27px;
	left:2px;
	font-size: 11px;
	color:#333;
	height:20px;
	width:95px;
	text-align:center;
	z-index:999999999;
}


/**************************** info panel styles ************************/
.infoOverlay
	{
	position:fixed;
	top:0;
	left:0;
	background:rgba(255, 255, 255, 0.5);
	display:none;
	z-index: 99999;
	}
.infoOuter
	{
	background:#000;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	border:5px solid #000;
	box-shadow:0px 3px 7px #333;
	-moz-box-shadow:0px 3px 7px #333;
	-webkit-box-shadow:0px 3px 7px #333;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-khtml-border-radius:15px;
	position:absolute;
	z-index:999999999;
	width:300px;
	min-height:150px;
	position:fixed;
	display:none;
	color:#fff;
	padding:10px;
	padding-bottom:30px;
	}


.infoOuter .inf-header{
	position:relative;
	top:3px;
	left:0px;
	height:29px;

	font-size:18px;
	text-align:center;
	z-index:999999999;
}

.infoOuter .inf-footer{
	position:relative;
	top:27px;
	left:0px;
	font-size:16px;
	text-align:center;
	z-index:999999999;
}



