#cnt_debugger_message {
	width				: 92%;
	background-color	: #F2F4FF;
	border				: 3px solid #CCDAE7;
	border-top-width	: 40px;
	padding				: 10px;
	font-family			: courier New;
	font-size			: 12px;
	border-radius		: 10px;
}
#cnt_debugger_message img{
	border				: none;
	float				: right;
	position			: relative;
	top					: -45px;
	right				: -7px;
    cursor              : pointer;
}
#cnt_debugger_message i {
    cursor              : pointer;
}
#cnt_debugger_txt {
	max-height			: 550px;
	overflow			: auto;
	width				: 100%;
	margin-top			: -1px;
}

.util_display-widget{
	background-color	: #000;
	color				: #ffffff;
	border				: 3px solid #000;
	border-top-width	: 24px;
	padding				: 10px;
	font-family			: verdana;
	font-size			: 14px;
	border-radius		: 10px;
	margin-top			: 20px;
	opacity				: 0.6;
    filter				: alpha(opacity=60); /* For IE8 and earlier */
}

.util_display-widget .title{
	position			: relative;
	top  				: -31px;
	display				: block;
	font-size			: 1.1em;
}

.util_display-widget .title u{
	font-weight 		: bold;
	font-size 			: 1.1em;
}

.util_display-widget .message{
	display				: block;
	position			: relative;
	top  				: -25px;
}